body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;

}


nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select, button {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #d9a8f0;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #a892f7;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #bcdce9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completada {
    text-decoration: line-through;
    background-color: #cff5d0;
}

.mensaje {
    color: rgb(78, 151, 194);
    font-weight: bold;
    margin-top: 10px;
}

